.home-container {
  padding: 8px;
}

.home-title {
  margin-bottom: 20px;
}

.home-filter-section {
  margin-bottom: 20px;
}

.home-filter-title {
  margin-bottom: 10px;
}

.home-sort-section {
  margin-bottom: 20px;
}

.home-divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}
